/bin/drawterm
/bin/goose
/bin/mysql-core-dev
/bin/mysql-core-test
.DS_Store
/lib/acme-bookmarks.txt
/pprof
/.jssc/
/.pgAdmin4.startup.log
/.pgadmin/
/.pylint.d/
/.python_history
/.nvm/
/.aws/
/.standard-cache/
/.fleetctl
/.flow-typed/
/.psql_history
/.grails/
/.grails_history
/.sdkman/
/.gradle
/.gitconfig.local
/.atom/
/.vscode/
/.serverauth.*
/.2fa
/.npmrc
/go
/c
/go1.4
/pkg
/src
/.Xauthority
/.gb/
/.vim-go
/.berkshelf/
/.guard_history
/.vagrant.d/
/.vagrant/
/.dlv/
/.travis/
/acme.dump
/.github-gist-token
# OS X specific stuff
/.gsutil/
/.tsd-cache
/.netrc
/.gitcookies
/.CFUserTextEncoding
/.Trash/
/.cache/
/.config/
/.dbshell
/.dotfiles.git/
/.dropbox/
/.htoprc
/.gnupg/
/.local/
/.gem/
/.node-gyp/
/.npm/
/.rnd
/.rvm/
/.sqlite_history
/.ssh/
/.subversion/
/.vim/.netrwhist
/.vim/undo/
/.viminfo
/.zcompdump*
/.zhistory
/.irb-history
/.lesshst
/.mysql_history
/.bash_history
/.bash_sessions/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/projects/
/tools/
/training/
/Public/
/VirtualBox VMs/
/tmp/
/.appcfg_nag
/.bzr.log
/.dvdcss/
/.idlerc/
/.mongorc.js
/.docker/
/.babel.json
/.node_repl_history
/.v8flags.*.json
/.oracle_jre_usage
/.eclipse/
/.m2/
/.p2/
/.tooling/
/.vue-templates/
/.yarnrc

/bin/2fa
/bin/A
/bin/Fmt
/bin/L
/bin/Watch
/bin/acmego
/bin/aligncheck
/bin/asmfmt
/bin/benchstat
/bin/binstale
/bin/callgraph
/bin/cover
/bin/deadcode
/bin/digraph
/bin/dlv
/bin/editinacme
/bin/edwood
/bin/eg
/bin/errcheck
/bin/fillstruct
/bin/fiximports
/bin/gends
/bin/gist
/bin/go-module-query
/bin/go-outline
/bin/go-symbols
/bin/gobin
/bin/gocode
/bin/goconst
/bin/gocyclo
/bin/godef
/bin/godex
/bin/godoc
/bin/godoctor
/bin/gogetdoc
/bin/goimports
/bin/golint
/bin/gomodifytags
/bin/gomvpkg
/bin/gopkgs
/bin/goreleaser
/bin/goreturns
/bin/gosec
/bin/gostatus
/bin/gotests
/bin/gotype
/bin/guru
/bin/healthcheck
/bin/hey
/bin/impl
/bin/ineffassign
/bin/interfacer
/bin/itob
/bin/jsonenums
/bin/keyify
/bin/maligned
/bin/markdownfmt
/bin/mkcert
/bin/mnd
/bin/parsefix
/bin/prealloc
/bin/present
/bin/protoc-gen-go
/bin/pt
/bin/rdeps
/bin/sqlfmt
/bin/staticcheck
/bin/stringer
/bin/structcheck
/bin/structlayout
/bin/structlayout-optimize
/bin/structlayout-pretty
/bin/tcpproxy
/bin/unconvert
/bin/unparam
/bin/varcheck
/bin/vegeta

/bin/abigen
/bin/gencodec
/bin/go-bindata
/bin/gocode-gomod
/bin/golangci-lint
/bin/gometalinter
/bin/goodman
/bin/gopls
/bin/gorename
/bin/gotags
/bin/iferr
/bin/motion
/bin/rclone
