.DS_Store
*.swp
*~.nib

*.pbxuser
*.perspective
*.perspectivev3

.gitconfig.local

# OS X specific stuff
.godoc.log
.CFUserTextEncoding
.Trash/
.bower/
.cache/
.config/
.crema-sites/
.cups/
.dbshell
.dotfiles.git/
.dropbox/
.gdb_history
.gem/
.h2.server.properties
.hours/
.htoprc
.irb-history
.ivy2/
.lesshst
.m2/
.mysql_history
.node-gyp/
.npm/
.org.eclipse.epp.usagedata.recording.userId
.psql_history
.rnd
.rvm/
.sbt/
.sbtconfig
.scala_history
.sh_history
.signature
.sqlite_history
.ssh/
.subversion/
.vim/.netrwhist
.vim/undo/
.viminfo
.yeoman/
.yjp/
.zcompdump
.zsh-update
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
VirtualBox VMs/
go/
tmp/

# Debian specific stuff
.ICEauthority
.aptitude/
.bash_history
.dbus/
.fontconfig/
.gconf/
.gnash/
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.local/
.mission-control/
.mozilla/
.profile
.pulse-cookie
.pulse/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.xsession-errors
.xsession-errors.old
