[user]
	name = Kare Nuorteva
	email = kare.nuorteva@me.com
[alias]
	# Go codereview aliases
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[core]
	whitespace=trailing-space
	editor = vim
	pager = less -+$LESS -FRX
#	editor = editinacme
#	pager = /usr/local/plan9/bin/p
#	pager =
[format]
	numbered = auto
[diff]
	renames = copy
	renamelimit = 3000
[sendemail]
	from = Kare Nuorteva <kare.nuorteva@me.com>
	confirm = auto
	smtpencryption = tls
	suppresscc = self
	smtpuser = kare
[include]
	path = ~/.gitconfig.local
[push]
	default = current
