[user]
	name = Kare Nuorteva
	email = kare.nuorteva@me.com
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lp = log -p
	st = status
	changes = log --reverse --no-merges --patch --stat @{1}..
[core]
	whitespace=trailing-space
	editor = /usr/bin/vim
	pager = less -F -X
[format]
	numbered = auto
[diff]
	renames = copy
	renamelimit = 3000
[sendemail]
	from = Kare Nuorteva <kare.nuorteva@me.com>
	confirm = auto
	smtpencryption = tls
	suppresscc = self
	smtpuser = kare
[include]
	path = ~/.gitconfig.local
[push]
	default = simple
[http]
	cookiefile = /Users/kare/.gitcookies
