.DS_Store
*.swp
*~.nib

*.pbxuser
*.perspective
*.perspectivev3

/lib/acme-bookmarks.txt
/.fleetctl
/.gitconfig.local
/pkg
/src
/bin/tmpl
/bin/vimr
/bin/pt
/bin/editinacme
/.tmpl
/.vim-go
/.berkshelf/
/.guard_history
/.vagrant.d/
/.vagrant/
/acme.dump
# Ignore Go tools
/bin/Fmt
/bin/agodoc
/bin/agorn
/bin/ao
/bin/errcheck
/bin/gocode
/bin/goddd
/bin/godef
/bin/godep
/bin/goimports
/bin/golint
/bin/gorename
/bin/gotags
/bin/oracle
/bin/script
/.github-issue-token
/bin/issue
/bin/gb
/bin/gb-env
/bin/gb-vendor
/bin/gen
/bin/EasyCert
/bin/caddy
/bin/boom
/bin/vegeta
/bin/udict
/.gsutil/

# OS X specific stuff
/.tsd-cache
/google-cloud-sdk
/.CFUserTextEncoding
/.Trash/
/.cache/
/.config/
/.cups/
/.dbshell
/.dotfiles.git/
/.dropbox/
/.gem/
/.htoprc
/.irb-history
/.lesshst
/.mysql_history
/.node-gyp/
/.npm/
/.rnd
/.rvm/
/.sqlite_history
/.ssh/
/.subversion/
/.vim/.netrwhist
/.vim/undo/
/.viminfo
/.zcompdump*
/.zsh_history
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/VirtualBox VMs/
/tmp/
/.appcfg_nag
/.bzr.log
/.dvdcss/
/.idlerc/
/.mongorc.js
/.boot2docker
/.dockercfg

# Debian specific stuff
/.ICEauthority
/.aptitude/
/.bash_history
/.dbus/
/.fontconfig/
/.gconf/
/.gnash/
/.gnome2/
/.gnupg/
/.gstreamer-0.10/
/.gtk-bookmarks
/.local/
/.mission-control/
/.mozilla/
/.pulse-cookie
/.pulse/
/.vboxclient-clipboard.pid
/.vboxclient-display.pid
/.vboxclient-draganddrop.pid
/.vboxclient-seamless.pid
/.xsession-errors
/.xsession-errors.old
/.muttrc
/Maildir/
/public_html/
/sent/
/Copy/
# Ubuntu
/.VirtualBox/
/.Xauthority
/.compiz/
/.dmrc
/.nv/
/.pam_environment
/.pki/
/.thunderbird/
