[submodule ".vim/bundle/govim"]
	path = .vim/bundle/govim
	url = https://github.com/govim/govim.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/vim-solarized"]
	path = .vim/bundle/vim-solarized
	url = https://github.com/ericbn/vim-solarized.git
