"*":
  "exception-reporting":
    userId: "ef990c35-feb1-d969-672f-6c02113fc0c9"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "language-csharp"
      "language-java"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-php"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-shellscript"
      "language-sql"
    ]
  editor:
    invisibles: {}
  "linter-jshint":
    lintInlineJavaScript: true
    disableWhenNoJshintrcFileInPath: true
